<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= link_to title, albums_path(title) %></h1>
    </div>
    <% albums.each do |album| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag album.art.url, class: "img-responsive img-rounded img-album" %>
                <div class="carousel-caption">

                  <%= link_to album.title, album %>  by <%= link_to album.artist.name, album.artist %>

                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>