/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  //url('background.jpg') repeat scroll 0% 0% transparent;
  background:  url(textures/footer_lodyas.png) repeat scroll 0% 0% transparent;
}

.img-album {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1,h2,h3,h4,h5 {
  color: white;
}


.carousel-caption {
  padding-bottom: 10px;
  width: 100%;
  left: auto;
  right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  bottom: 0px;
}

body {
  padding-top: 50px;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.navbar-logo {
  font-family: 'Romanesco', cursive;
  font-size: 32px;
}

.footer {
  background: none;
  background-color: #101010;
  color: #777;
  padding-top: 5px;
  padding-bottom: 5px;

  a {
    color: #777;

  }

  a:hover {
    color: white;
    text-decoration: none;
  }

}

