<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col-md-1">
      <%= link_to 'about us', '#'%>
    </div>
    <div class="col-md-1">
      <%= link_to 'contact us', '#'%>
    </div>
  </div>
</div>

